
.container{ width: 800px;
        height: 800PX;
        background-color: #FFFFFF;
        margin-left: auto;
	margin-right: auto;
}

.banner { width: 780px;
        height: 301px;
        background-color: #FFF;
	text-align: center;
}

.nav { width: 780px;
        height: 40px;
        background-color: #48597d;
        padding: 20px;
}

.nav a {color: #FFFFFF;
	padding: 0px 10px 0px 0px;
	text-decoration: none;
}
.nav a:link {color: #000000;
}
.nav a:visited {color: #111111;
} 
.nav a:focus {
}
.nav a:hover {font-weight: bolder;
}
.nav a:active {
}

.main_body { width: 780px;
        height: 590px;
        background-color: #FFFFFF;
	padding: 10px;
	}
.h1 {text-align: center;
}

.footer { width: 780px;
        height: 12px;
        background-color: #D1ECFF;
        padding: 5px;
	font-size: xx-small;
	text-align: center;
	font-family: arial, san-serif;
}
